---
layout: page
---

<div class="container">
  <h1>News post</h1>
  <ul class="post-list">
      {% for post in site.posts %}
        {% if post.howtos != true %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
  </ul>
</div>