.contact-page {
  .social {
    text-align: center;

    img {
      margin: 0 20px;
    }
  }

  .row {
    text-align: center;

    a {
      margin-top: 15px;
    }
  }

  img {
    width: 30px;
  }
}
